<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <main class="hero">
      <div class="hero-content">
        <h1>ryze chen</h1>
        <a class="button button-secondary" href="{{ url_for('home') }}">home</a>
      </div>
    </main>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
